* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
}

html {
    font-size: 20px;
    font-family: monospace;
    color: white;
}

._active {
    background-color: red;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem 0;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
